h1 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 59px;
	color: #09295e;
	margin-top: 109px;
	z-index: 50;
}

h1 b {
	color: #21adcf;
	margin-top: 80px;
}

.search-section {
	height: 421px;
}

@media (max-width: 852px) {
	h1, h1 b {
		color: white;
		text-shadow: 3px 4px 0 #7A7A7A;
	}
}
