/* GOOGLE FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
	font-family: Roboto;
}

/* GENERAL STYLES */

.container {
	margin: 48px;
}

.d-flex {
	display: flex;
	flex-direction: row;
	max-width: 1500;
}

.flex-column {
	flex-direction: column;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}
